<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771727388357-vc6s070m8ak61i6bfligbie6v6d0iget.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771727388357-vc6s070m8ak61i6bfligbie6v6d0iget</string>
	<key>API_KEY</key>
	<string>AIzaSyAovDhgaFZhONnXfrWnNChNv2E1ZjshbmE</string>
	<key>GCM_SENDER_ID</key>
	<string>771727388357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.tfd20200722.ChatAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>chatwithfiewbase</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwithfiewbase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771727388357:ios:ca3eb5d71ebc460fb08aac</string>
</dict>
</plist>